In [1]:
from td.client import TDClient
from config import client_id,td_id,td_pwd,old15_accnt,main_accnt,ira15_accnt 
from datetime import datetime
from datetime import timedelta
import time
import pprint
import pandas as pd
from b_s_order import buy_sell_market,buy_sell_stop,buy_sell_limit
import os

In [2]:
cdir = os.getcwd()
tdsession = TDClient(
    client_id=client_id,
    redirect_uri='http://localhost',
    credentials_path=cdir + r'\tdameritrade.json'         
)

In [4]:
tdsession.login()

True

In [ ]:
#tdsession.place_order(main_accnt, buy_sell_limit('sell',1.15,1,'novn'))
#tdsession.place_order(main_accnt, buy_sell_stop('sell',1.00,1,'novn'))
#tdsession.place_order(main_accnt,buy_sell_market('sell',1,'novn'))

In [5]:
getord=tdsession.get_orders(main_accnt)

In [6]:
getord

[]

In [ ]:
for i in range(len(getord)):
    if getord[i]["orderLegCollection"][0]['instrument']['symbol'] =='novn'.upper():
        odid=getord[i]['orderId']

In [ ]:
odid

In [ ]:
#tdsession.cancel_order(main_accnt,'4412376673')
#repord=tdsession.place_order(main_accnt, buy_sell_stop('sell',.95,1,'novn'))

In [ ]:
repord['order_id']

In [7]:
updatep=tdsession.get_quotes(['MSFT'])
#askp['MSFT']['askPrice']

In [8]:
updatep['MSFT']

{'assetType': 'EQUITY',
 'assetMainType': 'EQUITY',
 'cusip': '594918104',
 'symbol': 'MSFT',
 'description': 'Microsoft Corporation - Common Stock',
 'bidPrice': 249.15,
 'bidSize': 300,
 'bidId': 'P',
 'askPrice': 249.2,
 'askSize': 100,
 'askId': 'P',
 'lastPrice': 249.2,
 'lastSize': 100,
 'lastId': 'P',
 'openPrice': 245.575,
 'highPrice': 249.18,
 'lowPrice': 245.49,
 'bidTick': ' ',
 'closePrice': 248.15,
 'netChange': 1.05,
 'totalVolume': 23901081,
 'quoteTimeInLong': 1621036795765,
 'tradeTimeInLong': 1621036795765,
 'mark': 248.15,
 'exchange': 'q',
 'exchangeName': 'NASD',
 'marginable': True,
 'shortable': True,
 'volatility': 0.0086,
 'digits': 4,
 '52WkHigh': 263.19,
 '52WkLow': 175.68,
 'nAV': 0.0,
 'peRatio': 33.7717,
 'divAmount': 2.24,
 'divYield': 0.9,
 'divDate': '2021-05-19 00:00:00.000',
 'securityStatus': 'Normal',
 'regularMarketLastPrice': 248.15,
 'regularMarketLastSize': 32083,
 'regularMarketNetChange': 0.0,
 'regularMarketTradeTimeInLong': 1621022400642,
 'netPercentChangeInDouble': 0.4231,
 'markChangeInDouble': 0.0,
 'markPercentChangeInDouble': 0.0,
 'regularMarketPercentChangeInDouble': 0.0,
 'delayed': False,
 'realtimeEntitled': True}

In [22]:
one_min=tdsession.get_price_history('MSFT',None,None,162082620000,1621036799000,'minute',1,False)

In [23]:
candles_5m=pd.DataFrame(one_min['candles'])

In [24]:
candles_5m

           open      high     low     close  volume       datetime
0      233.4400  233.8500  233.31  233.5931  309050  1617111000000
1      233.5700  233.7500  232.72  232.7400   85101  1617111060000
2      232.7439  232.9797  232.64  232.7600   67593  1617111120000
3      232.7500  232.8800  232.46  232.5800   94536  1617111180000
4      232.5600  232.8200  232.46  232.7390   91522  1617111240000
...         ...       ...     ...       ...     ...            ...
12865  248.9700  248.9800  248.70  248.7100   79308  1621022100000
12866  248.7000  248.7450  248.59  248.6000   91545  1621022160000
12867  248.5904  248.6700  248.50  248.5700  107389  1621022220000
12868  248.5600  248.6000  248.19  248.2050  206497  1621022280000
12869  248.2050  248.3700  248.00  248.0800  417624  1621022340000

[12870 rows x 6 columns]

In [21]:
datetime.fromtimestamp(1621022340)

datetime.datetime(2021, 5, 14, 12, 59)

In [ ]:
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(1620935400))